.container-fluid
    .row
        .col-md-12
            %h2 Period vs Week Ago
            #graph-compare

#dash-body

:javascript

    sm = new SM_Analytics.Comparison({endpoint:"/api/listens/compare"})