.container-fluid
    #top-line.row

    #client-peaks.row

    .row
        .col-md-12
            %h4.text-center Listeners by Platform
            #graph-listeners
            %hr/
    .row
        .col-md-12
            %h4.text-center Compared to One Week Ago
            #graph-compare

#dash-body

:javascript
    listens_endpoint = "/api/listens"
    compare_endpoint = "/api/listens/compare"

    if (document.location.search) {
        listens_endpoint += document.location.search
        compare_endpoint += document.location.search
    }

    sm = new SM_Analytics({listens_endpoint:listens_endpoint,fetch_sessions:false})
    comp = new SM_Analytics.Comparison({endpoint:compare_endpoint})
