.container-fluid
    .row
        .col-md-12
            %h2 Listeners by Stream
            #graph-listeners
    .row
        .col-md-12
            %h2 KPCC Clients
            #graph-clients

#dash-body

:javascript
    sm = new SM_Analytics({listens_endpoint:"/api/listens/hour",fetch_sessions:false,graph_type:"bar"})