development:
  secret_key_base: asdfasdf
  elasticsearch:
    host: hosthost
    port: 9243
    user: username
    password: password
    scheme: https
    index_timezone: "America/Los_Angeles"
    namespace: somenamespace